html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*MODIFICAÇÕES*/

.nav-cor {
    background-color: dodgerblue;
}

.nav-link a {
    color:white;
}
.nav-link:hover, .nav-link:focus {
    color: whitesmoke !important;
    background-color: aqua !important;
}
.active {
    color: deepskyblue !important;
    border-bottom: 5px solid blue;
}



/*CADASTRO SOCIO*/


