

<h3 style="text-align:center">Faça seu CADASTRO!</h3>

<form class="row g-3">
    <div class="col-md-6">
        <label for="inputNome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="inputNome">
    </div>
    <div class="col-md-6">
        <label for="inputCep" class="form-label">CEP</label>
        <input type="text" class="form-control" id="inputCep">
    </div>
    <div class="col-12">
        <label for="inputCpf" class="form-label">CPF</label>
        <input type="text" class="form-control" id="inputCpf" placeholder="111.111.111-11">
    </div>
    <div class="col-12">
        <label for="inputEmail" class="form-label">Address 2</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="seuemail222@host.com">
    </div>
    <div class="col-md-6">
        <label for="inputSenha" class="form-label">Senha</label>
        <input type="number" class="form-control" id="inputSenha">
    </div>
    <div class="col-md-4">
        <label for="inputDate" class="form-label">Data de Nascimento</label>
        <input type="date" class="form-control" id="inputDate" placeholder="Seu nascimento">
    </div>
    <div class="col-md-2">
        <label for="inputZip" class="form-label">Código Sócio</label>
        <input type="number" class="form-control" id="inputZip">
    </div>
    <div class="col-12">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
                Mostrar
            </label>
        </div>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </div>
</form>

