


<form>
    <div class="row mb-3">
        <label for="inputCpf" class="col-sm-2 col-form-label">CPF</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputCpf">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputEmail" class="col-sm-2 col-form-label">CPF</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputPassword1" class="col-sm-2 col-form-label">Senha nova</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword1">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputPassword2" class="col-sm-2 col-form-label">Confirmar senha</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword2">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-10 offset-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck1">
                <label class="form-check-label" for="gridCheck1">
                    Example checkbox
                </label>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Alterar</button>
</form>

